.banner {
    background: linear-gradient(180deg, #141414, #0e0e0e);
    text-align: center;
    padding: 80px 20px;
}

.banner h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #b560ff;
}

.banner p{
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 10px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1d1d2e;
    width: 90%;
    max-width: 500px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(162, 89, 247, 0.3);
}

section h2{
    color: #a259f7;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 2px #a259f7;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #f5f5f5;
    font-size: 16px;
    margin-bottom: 4px;
}

form input, form textarea{
    padding: 14px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #111;
    color: #fff;
    transition: all 0.3s ease;
}

form input:focus, form textarea:focus{
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 4px #ffffff;
    background-color: #120c1c;
}

form button{
    padding: 14px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #8b5cf6, #381066);
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.1);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}
form button:hover{
    background: linear-gradient(90deg, #a259f7, #c084fc);
    box-shadow: 0 0 4px #37195a;
    transform: scale(1.03);
}