section img{
    display: grid;
    height: 250px;
    width: auto;
}

.banner {
    background: linear-gradient(180deg, #141414, #0e0e0e);
    text-align: center;
    padding: 80px 20px;
}

.banner h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #b560ff;
}

.banner p{
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 10px;
}

.generosbotao {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #a259f7;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.generosbotao:hover {
    box-shadow: 0 0 15px #a259f7, 0 0 30px #a259f7;
    transform: scale(1.05);
}

.card-section {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 5%;
    max-width: 1400px;
    margin: 0 auto;
    background: #0e0d0d;
}

.card {
    background: #1a1a1a;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(162, 89, 247, 0.2);
    width: 600px;
    text-align: center;
    transition: transform 0.3, box-shadow 0.3s;
    overflow: hidden;
    padding-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(162, 89, 247, 0.5);
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h2{
    color: #1de9b6;
    margin-top: 10px;
}

.card p{
    color: #ddd;
    padding: 10px 15px;
    font-size: 0.95rem;
}

.cardboton {
    display: inline-block;
    margin-bottom: 15px;
    padding: 8px 16px;
    background: #a259f7;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.cardboton:hover {
    background: #8c4bdb;
    box-shadow: 0 0 10px #a259f7;
}

.apresentacao {
  max-width: 800px;
  margin: 80px auto;
  text-align: center;
  font-size: 1.1rem;
  color: #bbb;
  line-height: 1.6;
}