body{
    background-color: #0e0d0d;
    color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1{
    font-family: 'Orbitron', sans-serif;
    color: #a259f7;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    gap: 12px;
    padding-left: 16px;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 8px #a259f7;
    margin-right: 8px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

nav ul li a.active {
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-decoration: underline; 
}

footer {
  background: #111;
  text-align: center;
  padding: 20px;
  color: #888;
  font-size: 0.9rem;
  border-top: 1px solid #222;
}

footer a {
  color: #a259f7;
}

footer a:hover {
  text-shadow: 0 0 10px #a259f7;
}






.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px)
}