body{
    background-color: #121212;
    color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main {
    margin-top: 8vh;
}

h1{
    font-family: 'Oxanium', sans-serif;
    color: #9b6dff;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

h1, h2, h3, nav, .logo {
    font-family: 'Oxanium', sans-serif;
}

body, p, a, li {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    gap: 12px;
    padding-left: 16px;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 8px #a259f7;
    margin-right: 8px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    background: #0d0d0d;
    height: 8vh;
    border-bottom: 2px solid rgba(162, 89, 247, 0.4);
    box-shadow: 0 0 15px rgba(162, 89, 247, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list li a {
    position: relative;
    padding-bottom: 4px;
}

.nav-list li a:hover,
.nav-list li a.active {
    color: #ffffff;
}

.nav-list li a:hover::after,
.nav-list li a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    box-shadow: 0 0 8px #1f1827;
}

footer {
    background: #0d0d0d;
    text-align: center;
    padding: 25px 20px;
    color: #888;
    font-size: 0.9rem;
    border-top: 2px solid rgba(162, 89, 247, 0.4);
}

footer a {
    color: #ffffff;
    font-weight: bold;
}





.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #0d0d0d;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px)
}